# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
README.md.backup
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__ome_bio_formats_plugins_6_10_1.xml
.idea/libraries/Maven__ome_bio_formats_plugins_6_1_1.xml
.idea/libraries/Maven__ome_bio_formats_tools_6_10_1.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_6.xml
MIC-MAQ.iml
README.md.backup
target/classes/plugins.config
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__ome_bio_formats_plugins_6_10_1.xml
.idea/libraries/Maven__ome_bio_formats_tools_6_10_1.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_6.xml
MIC-MAQ.iml
README.md.backup
target/classes/plugins.config
target/classes/plugins.config
README.md.backup
README.md.backup
MIC-MAQ.iml
target/maven-archiver/pom.properties
target/maven-archiver/pom.properties
target/maven-archiver/pom.properties
